<p style="color: green"><%= notice %></p>

<%= render @news %>

<div>
  <%= link_to "Edit this new", edit_news_path(@news) %> |
  <%= link_to "Back to news", news_path %>

  <%= button_to "Destroy this new", @news, method: :delete %>
</div>
